{% extends 'base.html.twig' %}

        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="{{ asset('css/ambition.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/ambition.css') }}" />
        
        {% endblock %}

{% block body %}
<main role="main">
<h1> Nos ambitions</h1>
<div class="wrapper">
	<div class="containerAmbition" id="c0">
		<div class="image" id="i0">
			
			<div class="city">
			<?xml version="1.0" encoding="utf-8"?>
			</div>
		</div>
		<div class="story" id="s0">
			<div class="info">
			<h3>Le Présage</h3>
			<p>Bâtir et mettre en fonctionnement le premier restaurant avec fourneau solaire de France, voilà l’ambition du Présage. Et pas seulement un restaurant, mais tout un environnement qui utilise l'énergie solaire, la met en scène, la révèle. Puis cuisiner dans son paysage local, avec des produits de qualité et aller jusqu’à cultiver en créant une forêt comestible et un environnement en permaculture. Oui, l’énergie solaire, c’est aussi le végétal qui s’en nourrit avant d’arriver dans notre assiette.</p>
			</div>
		</div>
	</div>
</div>
</main>
{% endblock %}
