{% extends 'base.html.twig' %}



 {% block stylesheets %}
 <head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{{ asset('css/login.css') }}" rel="stylesheet"> 
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
{% endblock %}
{% block body %}
  <main role="main" class="container form">       
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
<div class="custom_body">
    
    	<div class="row">
    	    
    	    <div class="login_box">
    	        <section class="main-box">
        	        <form action="{{ path('login') }}" method="post">
        	        <div class="input-box">
            	        <span class="input-group-addon i_icon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  type="text" class="form-control input_layout"id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    <div class="input-box">
            	         <span class="input-group-addon i_icon"><i class="glyphicon glyphicon-lock"></i></span>
                         <input  type="password" class="form-control input_layout" id="password" name="_password" />
                    </div>
                    </form>
                    <button type="button" class="btn btn-default btn_style">LOGIN</button>
                </section>    
    	    </div>
    	    
    
    </div>
</div>    
</main>
{% endblock %}