{% extends 'base.html.twig' %}



{% block stylesheets %}
<link href="{{ asset('css/login.css') }}" rel="stylesheet"> 
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

{% endblock %}

 
 {% block body %}
  {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>  {% endif %}
 <main role="main" class="container form" >
            <div class="wrapper">
                <form action="" method="post" name="Login_Form" class="form-signin"> 
                     <div class="row text-center bol"></div>
                    <h3 class="form-signin-heading text-center">
                        Login administrateur
                    </h3>
                    <hr class="spartan">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon1">
                            <i class="fa fa-user"></i>
                        </span>
                       <input type="text" class="form-control" id="username" placeholder="Username" name="_username" value="{{ last_username }}"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon1">
                            <i class="fa fa-lock"></i>
                        </span>
                       <input type="password" class="form-control" id="password" name="_password" placeholder="password"/>         	  
                    </div>
                    <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Entrar" type="Submit">Valider</button>  			
                </form>			
            </div>
</main>
{% endblock %}