{% extends 'admin_user/index.html.twig' %}

{% block pageTitle %}Ajout Actualité{% endblock %}

{% block body %}
<main role="main" class="container">

<div class="container">
    {{ form_start(form) }}

    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}