{% extends 'admin_user/index.html.twig' %}



   {% block pageTitle %}Liste des Actualités{% endblock %}
   {% block body %}
    <table class="table table-hover">
  <thead>
  <tr>
     <th>Titre</th>
     <th>Contenu</th>
     <th>Image</th>
     <th></th>
 </tr>
   {% for actua in actualite %}
   
   
      

    <tr>
       <td> {{ actua.titre }}</td>
       <td>{{ actua.contenu }}</td>
       <td><img style="width:150px;height=150px;" src="{{asset('uploads/image/'~actua.image ) }}"</td>
       <td><a href= {{ path('deleteActu', {'id':actua.id}) }}>supprimer cette Actualité</a></td>
    </tr>
       
       
      
   </tr>

 {% endfor %}
 
</table>

    
   
  </tbody>

{% endblock %}