{% extends 'admin_user/index.html.twig' %}



   {% block pageTitle %}Liste des Actualités{% endblock %}
   {% block body %}
    <table class="table table-hover">
  <thead>
  <tr>
     <th> Titre</th>
     <th>Contenu</th>
     <th>Image</th>
 </tr>
   {% for actualite in allarticles %}
   
   
      

    <tr>
       <td> {{ actualite.titre }}</td>
       <td>{{ actualite.contenu }}</td>
       <td>{{ actualite.image}}</td>
       </tr>
       
       <td><a href= {{ path('deleteActu', {'id':article.id}) }}>supprimer une Actualité</a></td>
      
   </tr>

 {% endfor %}
 
</table>

    
   
  </tbody>

{% endblock %}