/* @import url('https://fonts.googleapis.com/css?family=Raleway:200'); */
/* body {
  font-family: 'Raleway', sans-serif;
  background:#eee;
} */


h1{
    /* margin-top: 200px;  */
    text-align: center; 
    color: #FEFE76; 
}

main{
    background-color: rgba(24, 57, 30, 0.45);
    padding-bottom: 750px; 
    padding-top: 100px; 
}
.wrapper {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 800px;
  height: 500px;
  perspective: 900px;
}

.containerAmbition {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}

#c0 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #18391E; 
  /* background: linear-gradient(to bottom, #245730 30%, #97A69A 100%); */
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
}


.containerAmbition:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}

.image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background-color: #18391E; 
  /* background: linear-gradient(to top, #245730 30%, #97A69A 100%); */
}



span {
  position: absolute;
  top: 0%;
  left: 55%;
  border-radius: 100%;
  background-color: #fff;
  z-index: 10;
}

.sun {
  position: absolute;
  top: 50%;
  height: 50%;
  left: 0%;
  width: 100%;
}

.story {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 55%;
  width: 100%;
  background-color: #18391E; 
  /* background: linear-gradient(to bottom, #245730 0%, #97A69A 40%); */
  z-index: 30;
}



.info {
  position: absolute;
  top: 10%;
}

h3 {
  text-align: center;
  text-shadow: 0px 0px 10px #eee;
  color: #eee;
  letter-spacing: 2px;
}


p {
  font-size: 14px;
  color: #fff;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}

.page {
  position: absolute;
  top: 80%;
  width: 100%;
  left: 0%;
  height: 20%;
  z-index: 30;
}



@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}


@media screen and (max-width: 1280px){ 

    main{
      padding-bottom: 1800px;  
        padding-top: 100px; 
    }
    .wrapper {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 800px;
        height: 800px;
        perspective: 900px;
      }
}