
main{
  background-color: rgba(24, 57, 30, 0.45);
  padding-bottom: 350px; 
  padding-top: 250px; 
}
.front{
  width: 700px; 
  height: 600px;
}
.cont-contactInfo {
  float: left;
  padding-right: 5%;
  width: 45%;
}
.cont-contactInfo h3 {
  font-size: 28px;
}
.cont-contactInfo h4 {
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
}
.cont-contactInfo h4.section {
  margin: 30px 0 0;
}
.cont-contactInfo p {
  margin: 0;
}
.cont-contactInfo p > a {
  text-transform: uppercase;
  font-weight: bold;
}
.cont-contactInfo .social-icons {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
}
.cont-contactInfo .social-icons li {
  float: left;
  margin-right: 3px;
}
.cont-contactInfo .social-icons li a {
  background-image: url("../images/sprite_social_icons.png");
  background-repeat: no-repeat;
  display: block;
  height: 28px;
  width: 29px;
}
.cont-contactInfo .social-icons li a:hover {
  opacity: 0.8;
}
.cont-contactInfo .social-icons li a.icon_twitter {
  background-position: -33px 0;
}
.cont-contactInfo .social-icons li a.icon_linkedin {
  background-position: -68px 0;
}
.cont-contactInfo .social-icons li a.icon_youtube {
  background-position: -102px 0;
}
.cont-contactInfo .social-icons li a.icon_pinterest {
  background-position: -135px 0;
}
.cont-contactInfo .social-icons li a.icon_vimeo {
  background-position: -169px 0;
}
.cont-contactInfo .social-icons li a.icon_instagram {
  background-position: -204px 0;
}

.cont-contactBtn {
  height: 359px;
  margin: 0 auto;
  width: 574px;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
.cont-contactBtn .cont-flip {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
}
.cont-contactBtn .cont-flip .front, .cont-contactBtn .cont-flip .back {
  display: block;
  margin: 0;
  margin-bottom: -200px; 
  height: 100%;
  width: 800px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-left: -15%; 
  
}
.cont-contactBtn .cont-flip .front {
  background-color: #97A69A;
  background-size: 100%; 
  width: 100%; 
  text-decoration: none;
}
.cont-contactBtn .cont-flip .back {
  background-color: #97A69A;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  
}
.cont-contactBtn .btnForm {
  margin-top: 155px;
  /* background-color: #FEFE7C; */
  color: #18391E; 
  border: #18391E; 
  z-index: 1;
}
.cont-contactBtn .cont-flip.flipped {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cont-contactBtn .contact-form {
  padding: 0 10%;
  margin-top: 50px;
  width: 80%;
}
.cont-contactBtn .contact-form input, .cont-contactBtn .contact-form textarea {
  border: 1px solid #808080;
  font-size: 12px;
  padding: 10px 0;
  text-transform: uppercase;
  width: 800px;
}
.cont-contactBtn .contact-form  {
  float: left;
  margin-bottom: 8px;
  padding-left: 3%;
  width: 44.9%;
}
.cont-contactBtn .contact-form .gutter {
  margin-right: 2.8%;
}
.cont-contactBtn .contact-form textarea {
  height: 106px;
  padding-left: 3%;
  margin-bottom: 22px;
  width: 800px;
}
.cont-contactBtn .contact-form #submit {
  background-color: #18391E;
  border: none;
  color: #fff;
  height: 45px;
  width: 800px;
  text-align: center;
}
.cont-contactBtn .close {
  display: block;
  height: 19px;
  width: 19px;
  background-image: url("https://i.imgur.com/WoKg12q.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 3%;
}

.btnForm {
  border: 3px #fff solid;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: normal;
  margin: 0 auto;
  max-width: 280px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
}
.cont-contactBtn .contact-form #submit:hover{
  background-color: #FEFE7C; 
  color: black; 
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s;
}



/*# sourceMappingURL=contactCss.css.map */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

.letter-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.animated-mail {
  position: absolute;
  height: 150px;
  width: 200px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.animated-mail .body {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 200px;
  border-color: transparent transparent #18391E transparent;
  z-index: 2;
}
.animated-mail .top-fold {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100px 0 100px;
  -webkit-transform-origin: 50% 0%;
  -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  -moz-transform-origin: 50% 0%;
  -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  transform-origin: 50% 0%;
  transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  border-color: #255832 transparent transparent transparent;
  z-index: 2;
}
.animated-mail .back-fold {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: #255832;
  z-index: 0;
}
.animated-mail .left-fold {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent #18391E;
  z-index: 2;
}
.animated-mail .letter {
  left: 20px;
  bottom: 0px;
  position: absolute;
  width: 160px;
  height: 60px;
  background: white;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.4s 0.2s;
  -moz-transition: 0.4s 0.2s;
  transition: 0.4s 0.2s;
}
.animated-mail .letter .letter-border {
  height: 10px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, #255832, #255832 8px, transparent 8px, transparent 18px);
}
.animated-mail .letter .letter-title {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 40%;
  background: #255832;
}
.animated-mail .letter .letter-context {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 20%;
  background: #255832;
}
.animated-mail .letter .letter-stamp {
  margin-top: 30px;
  margin-left: 120px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background: #255832;
  opacity: 0.3;
}

.shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);
  border-radius: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.letter-image:hover .animated-mail {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
}
.letter-image:hover .animated-mail .top-fold {
  transition: transform 0.4s, z-index 0.2s;
  transform: rotateX(180deg);
  -webkit-transition: transform 0.4s, z-index 0.2s;
  -webkit-transform: rotateX(180deg);
  -moz-transition: transform 0.4s, z-index 0.2s;
  -moz-transform: rotateX(180deg);
  z-index: 0;
}
.letter-image:hover .animated-mail .letter {
  height: 180px;
}
.letter-image:hover .shadow {
  width: 250px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */


@keyframes bg {
  0% {
      background-size:    0 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  25% {
      background-size:    100% 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  50% {
      background-size:    100% 3px,
                          3px 100%,
                          0 3px,
                          3px 0;
  }
  75% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 0;
  }
  100% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 100%;
  }
}

#encart {
  position: relative;
  left: -600px;
  width: 58%;
  margin: 2rem auto;
  padding: 2em;
  
  background-repeat: no-repeat;
  background-image:   linear-gradient(to right, #FEFE7C 100%, #FEFE7C 100%),
                      linear-gradient(to bottom, #FEFE7C 100%, #FEFE7C 100%),
                      linear-gradient(to right, #FEFE7C 100%, #FEFE7C 100%),
                      linear-gradient(to bottom, #FEFE7C 100%, #FEFE7C 100%);
  background-size:    100% 3px,
                      3px 100%,
                      100% 3px,
                      3px 100%;
  background-position:    0 0,
                          100% 0,
                          100% 100%,
                          0 100%;
  animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: paused;
}

#encart:hover {
  animation-play-state: running;
}
#titreEncart{
color:#FEFE7C;  
}

#pEncart{
  color: white; 
}

/* ////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1280px){ 

  main{
    background-color: rgba(24, 57, 30, 0.45);
    padding-bottom: 2000px; 
    padding-top: 250px; 
    display: flex; 
    flex-direction: column; 
    
  }

  #encart{
    position: relative;
    left: 0px; 
    top: 600px; 
    width: 600px;
    
  }
  #titreEncart{
    font-size: 48px; 
  }

  #pEncart{
    font-size: 28px; 
  }
}