/*css général*/
[type="button"]
{
    background: #18391E;
}
html [type="button"]{
    -webkit-appearance: none;
}



/*css nav*/
.navbar-color
{
    background-color: #18391E;
}

.navbar
{
    height: 80px;
}

#navbarColor01.collapse {
    margin-left: 100px;
}


.navbar-dark .navbar-nav .nav-link
{
    color:white;
}

.navbar-dark .navbar-nav .nav-link:hover
{
    color:#ffff77;
}

.navbar-dark .navbar-nav .nav-link:focus
{
    color: rgb(224, 224, 149);
}


.dropdown-menu.show { 
    
    top: 50px;
}

ul.dropdown-menu.show {
    
    position: relative;
    background-color: rgb(224, 224, 149);
    box-shadow: 2px 1px 8px 0px darkslategrey;
    padding: 0;
    
}

ul.dropdown-menu.show:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent rgb(224, 224, 149) transparent;
    top: -9px;
    left: 20px;
}

a.dropdown-item {
    
    padding: 0.5rem 2rem;
    
}

.dropdown-item:active {
    
    background-color: rgb(224, 224, 149);
    color: black;
}

a.nav-link.top.pc:before, a.nav-link.top.pc:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

a.nav-link.top.pc:before
{
    left: 0px;
    top: 0px;
}

a.nav-link.top.pc:after
{
    right: 0px;
    bottom: 0px;
}

a.nav-link.top.pc:hover:before, a.nav-link.top.pc:hover:after
{
    opacity: 1;
    width: 80%;
}

ul.dropdown-item {
    
    min-height: 150px;
}

ul.dropdown-item:hover{
    background-color: rgb(224, 224, 149);
    box-shadow: 1px 1px 5px black;
}

a.navbar-brand img {
    height: 65px;
}


/* formulaires*/
.form{
    position: relative;
    top: 7.5rem;
}


.form contact {
    background:#333333;
	color:#f4f4f4;
    padding-bottom:80px;
    
}

.form h1, .form h2, .form h3 {
    margin:0 0 35px 0;
	text-transform: uppercase;
    letter-spacing:1px;
    
}

.form p {
    margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}


.list-inline.banner-social-buttons {
    display: flex;
    position: relative;
    bottom: 4rem;
}

.network-name {
   color: #18391E;
}

.btn {
    border-radius: 4px;
    background-color: #18391E;
    border: none;
    color: #FFFFFF;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background-color: #ffff77;

    color: black;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 3px black;
}


a.fab {
    text-align: center;
}


/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */

}

.footer-color
{
    background-color: #18391E;
}


.footer-dark .nav-link, #copyright
{
    color:white;
    font-size: 1rem;
}

.footer-dark .nav-link:hover
{
    color:#ffff77;
}

#copyright {
    text-align: center;
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 1rem;
}

div.reseaux {
    font-size: 30px;
    text-align:center;
   
}

div.reseaux a {
    color: white;
    margin-left: 25px;
}

div.reseaux a:hover {
    color: #ffff77;
}

/* MEDIA QUERIES RESPONSIVE DESIGN*/

@media screen and (max-width: 1000px) {
    .form-inline .mt-2 .mb-2, .my-2{
        display: none;
    }

    .page-footer {
        display: none;
    }

    .navbar {
        height: initial;
    }

    a.nav-link.top {
        position: relative;
        left: -40px;
    }

    a.nav-link.top.pc:hover:before, a.nav-link.top.pc:hover:after
    {
        opacity: 0;
    }

    a.dropdown-item {
        color: white;
    }

    ul.dropdown-menu.show {
        position: initial;
        background-color: #18391E;
        box-shadow: none;
        border-bottom: white solid 1px;
        border-right: white solid 1px;
        border-top: none;
        border-left: none;
    }

    ul.dropdown-menu.show:after {
        display: none;
    }

    div.container {
        width: max-content;
        height: max-content;
    }
}




