{% extends "base.html.twig" %}
 
    {% block body %}
    <head>
        {% block stylesheets %}
        <link href="{{ asset('css/accueilStyle.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <h1>Le Présage</h1>
    {% endblock %}
    


    
