{% extends 'admin_user/index.html.twig' %}

{% block pageTitle %}Liste des evenements{% endblock %}


{% block body %}
  

<table>
    <tr>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Image</th>
    </tr>
{% for event in evenement %}
     <tr>
       <td> {{ event.titre }}</td>
       <td>{{ event.contenu }}</td>
       {# <td><img style="width:150px;height=150px;" src="{{asset('uploads/image/'~event.image ) }}"</td> #}
      {#  <td><a href= {{ path('deleteActu', {'id':actua.id}) }}>supprimer une Actualité</a></td> #}
    </tr>
</table>   

    {% endfor %}




{% endblock %}