{% block body %}



<h2>Vous avez recu un mail de contact !</h2>

<p>l'utilisateur {{nom}} {{prenom}} vous a envoyé un mail de contact.</p>

<p> {{message}}</p>

<p> Si vous souhaitez lui repondre vous pouvez lui envoyer un mail sur son adresse {{email}} </p>



{% endblock %}


